
/*Etiquetas HTML*/
body{
    background-color: #373636; /*#A8E672;*/
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: 400;*/
    font-style:normal;
}

h1{
    color: #A8E672;
    text-align: center;
}

h2{
    color: #A8E672;
    font-weight: lighter;
    text-align: center;
}

a{
    color: #A8E672;   
}

th{
    border-style: solid;
    border-color: #A8E672;
    padding: 1%;
    border-width: thin;
    width: 2%;
}

/*Clases*/
.home{
    text-align: center;
    margin: auto;
}

.Catalogo{
    text-align: center;
}

.Prenda{
    text-align: center;
    align-items: center;
}

.tbEstilo{
    border-spacing: 5px;
    /*background-color: white;*/
    color: #A8E672;
    margin: auto;
    font-weight: bold;
}

.volver{
    text-align: center;
    border-style: solid;
    border-color: #A8E672;
    width: 10%;    
    background-color: black;
    margin: auto;
    margin-top: 2%;
}

.precio{
    padding-bottom: 2%;
}

.tbEstiloPrenda{
    border-spacing: 5px;
    border-style: solid;
    margin: auto;
    margin-bottom: 1%;
    color: #A8E672;
    font-weight: bold;
}

.tdPrenda{
    border-style: solid;
    border-width: thin;
    border-color: #A8E672;
    padding: 1%;
    font-weight: lighter;
    width: 2%;
}


/*Id's*/
#inicial{
    padding-top: 5%;
}
