
body{
    background-color: black; /*#A8E672;*/
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: 400;*/
    font-style:normal;
}

h1{
    color: #A8E672;
    text-align: center;
}

h2{
    color: #A8E672;
    font-weight: lighter;
    text-align: center;
}

#inicial{
    padding-top: 5%;
}

.home{
    text-align: center;
}

.Catalogo{
    text-align: center;
}

.Prenda{
    text-align: center;
    align-items: center;
}

.tbEstilo{
    border-color: blueviolet;
    background-color: white;
    color: black;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

#volver{
    text-align: center;
}