
body{
    background-color: #A8E672;
}

h1{
    color: green;
}

h2{
    color: green;
}

.home{
    text-align: center;
}

.Catalogo{
    text-align: center;
}

.Prenda{
    text-align: center;
    align-items: center;
}

.tbEstilo{
    border-color: blueviolet;
    background-color: #A8E672;
    color: black;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

#volver{
    text-align: center;
}